h1 {
    color:darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

h2 {
    color:darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h3 {
    color:darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h4 {
    color:darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body { 
    margin:0 auto; 
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px 10px 19.2px;
    text-decoration: none;
    font-size: 16px;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}
  
.main {
    padding: 16px;
    margin-top: 0px;
}

